section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.allTodos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.fa-remove {
    color: red;
}


.fa {
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0 1rem;
    transition: all .3s linear;
}

.fa-check {
    color: green;
}

.fa:hover {
    transform: scale(1.3);
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: .5rem;
    transition: all .3s linear;
    border: 2px solid rgba(0, 0, 0, 0.604);
    border-radius: 2rem;
}

.text {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    overflow: hidden;
}

.texts-date {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.checked span {
    text-decoration: line-through !important;
}

.checked .fa-check {
    color: rgb(41, 39, 39);
}

.checked {
    background-color: rgb(126, 122, 122);
    transition: all .3s linear;
    border-color: white;
}