section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.allTodos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fa-remove {
    color: red;
}


.fa {
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0 1rem;
    transition: all .3s linear;
}

.fa-check {
    color: green;
}

.fa:hover {
    transform: scale(1.3);

}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: .5rem;
    border: 1px solid red;
    transition: all .3s linear;
}

.text {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    overflow: hidden;

}

.texts-date {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;

}

.checked span {
    text-decoration: line-through !important;
    font-weight: normal;
}

.checked .fa-check {
    color: black;
}

.checked {
    background-color: gray;
    transition: all .3s linear;
}