.AddTask {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
}

form {
    width: 100%;
}

#task,
#day,
#times {
    border-radius: 5rem !important;
    cursor: text;
}

.btn-div {
    text-align: center;
    width: 100%;
}

.submit {
    width: 30%;
}

/* input {
    background-color: red;
} */