* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  /* background-image: linear-gradient(to right, #00b4db, #0083b0); */
  /* background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e); */
  /* background-image: linear-gradient(95.2deg, rgba(173, 252, 234, 1) 26.8%, rgba(192, 229, 246, 1) 64%); */
  /* background-image: linear-gradient(to right, #0099f7, #f11712); */
  background-image: linear-gradient(to right, #2c3e50, #4ca1af);
}

.App {
  border-radius: 3rem;
  transition: all 1s linear ease-in-out;
}