* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-image: linear-gradient(to right, #0098f795, #f116129e);
  width: 100vw;
  height: 100vh !important;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.App {
  margin-top: 3rem;
  border-radius: 3rem;
  transition: all 1s linear ease-in-out;
  padding: 1rem;
  width: 32rem;

}


.btn {
  padding: 1 2rem;
}

@media screen and (max-width: 800px) {
  .App {
    width: 70vw;
    min-width: 19rem;
    height: auto !important;
  }

  .btn {
    min-width: fit-content;
  }
}